<!doctype html>
<html lang="en">

{{>orgheader}}

    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Friendicoes Foundation</h1>
              <p class="mb-5">Friendicoes foundation is an organisation which helps the animals by providing them foster care adoption and sponsoring an animal</p>
              <p><a href="https://friendicoes.org/" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14014.488071546002!2d77.2310197!3d28.5811109!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce25749c96d99%3A0x7f405001168814de!2sFriendicoes!5e0!3m2!1sen!2sin!4v1632659555324!5m2!1sen!2sin" width="400" height="550" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{{>otherfooter}}

   </html>