<!doctype html>
<html lang="en">

{{>orgheader}}

    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Sherry and Diya Foundation</h1>
              <p class="mb-5">Sherry and Diya Foundation is a Mumbai based orgnization actively involved in Animal welfare and awareness related issues.</p>
              <p><a href="http://www.sherryanddiyafoundation.com/" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

   
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.286142312942!2d72.81022331454932!3d18.96296626044429!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf0db6eeb3c3%3A0x54de4a3b227fb1c4!2sSherry%20and%20Diya%20Foundation!5e0!3m2!1sen!2sin!4v1632634379091!5m2!1sen!2sin" width="400" height="550" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy"></iframe>
{{>otherfooter}}

   </html>