<!doctype html>
<html lang="en">

{{>orgheader}}

    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Utkarsh Star Mitra Mandal</h1>
              <p class="mb-5">Utkarsh Star Mitra Mandal NGO offers the highest quality specialized medical and surgical care available for your pet.</p>
              <p><a href="http://usmmngo-animalwelfaredivision.org/" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <br>

   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.630196527344!2d72.94161771455205!3d19.16765815406668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b858e42b97c5%3A0xcc156b938f6f513d!2sUtkarsh%20Star%20Mitra%20Mandal%20N.G.O!5e0!3m2!1sen!2sin!4v1632637131735!5m2!1sen!2sin" width="400" height="550" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{{>otherfooter}}

   </html>